parameters:
	ignoreErrors:
		-
			message: "#^Return type \\(string\\|null\\) of method Charcoal\\\\Sitemap\\\\Action\\\\SitemapAction\\:\\:results\\(\\) should be compatible with return type \\(array\\) of method Charcoal\\\\App\\\\Action\\\\ActionInterface\\:\\:results\\(\\)$#"
			count: 1
			path: src/Charcoal/Sitemap/Action/SitemapAction.php

		-
			message: "#^Call to an undefined method Charcoal\\\\Model\\\\ModelInterface\\:\\:objType\\(\\)\\.$#"
			count: 2
			path: src/Charcoal/Sitemap/Service/SitemapPresenter.php
